<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="cadastro">
  <div class="container">
    <h1>
      <a href="/veiculos">Home</a>
    </h1>
    <div class="container-form">
      <h2>Formulário de Veículo</h2>
      <form method="post" action="/veiculos/save">

        <input type="hidden" name="id" value="<%= veiculo.id %>">

        <div>
          <div class="form-input">
            <label for="marca" name="marca" id="marca">Marca</label>
            <input type="text" class="form-control" value="<%= veiculo.marca %>" name="marca" id="marca" placeholder="marca" required>
          </div>
          <div class="form-input">
            <label for="modelo" name="modelo" id="modelo">Modelo</label>
            <input type="text" class="form-control" value="<%= veiculo.modelo %>" name="modelo" id="modelo" placeholder="modelo" required>
          </div>
          <div class="form-input">
            <label for="ano" name="ano" id="ano">Ano</label>
            <input type="number" class="form-control" value="<%= veiculo.ano %>" name="ano" id="ano" placeholder="ano" required>
          </div>
          <div class="form-input">
            <label for="cor" name="cor" id="cor">Cor</label>
            <input type="text" class="form-control" value="<%= veiculo.cor %>" name="cor" id="cor" placeholder="cor" required>
          </div>
        </div>
        <div>
          <div class="form-input">
            <label for="categoria" name="categoria" id="categoria">Categoria</label>
            <input type="text" class="form-control" value="<%= veiculo.categoria %>" name="categoria" id="categoria" placeholder="categoria" required>
          </div>
          <div class="form-input">
            <label for="combustivel" name="combustivel" id="combustivel">Combustível</label>
            <input type="text" class="form-control" value="<%= veiculo.combustivel %>" name="combustivel" id="combustivel" placeholder="combustível" required>
          </div>
          <div class="form-input">
            <label for="cambio" name="cambio" id="cambio">Câmbio</label>
            <input type="text" class="form-control" value="<%= veiculo.cambio %>" name="cambio" id="cambio" placeholder="câmbio" required>
          </div>
          <div class="form-input">
            <label for="pcd" name="pcd" id="pcd">PCD</label>
            <input type="text" class="form-control" value="<%= veiculo.pcd %>" name="pcd" id="pcd" placeholder="PCD" required>
          </div>
        </div>
        <button type="submit">salvar</button>
      </form>
    </div>
  </div>
</body>

</html>