<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>


  <div class="container">

    <header class="header-menu">
      <a href="/veiculos">
        <h1>Lista de Veículos</h1>
      </a>
      <form class="form-search" method="get" action="/veiculos/search">
        <input type="search" name="nome" placeholder="Buscar">
        <button class="btn search" type="submit">buscar</button>
      </form>
      <a class="btn" href="/veiculos/cadastro">novo</a>
    </header>

    <% if (locals.messages.success) { %>
      <div class="alerta sucesso" role="alert">
        <p>
          <%= locals.messages.success %>
        </p>
      </div>
      <% } %>

        <% if (locals.messages.error) { %>
          <div class="alerta erro" role="alert">
            <p>
              <%= locals.messages.error %>
            </p>
          </div>
          <% } %>

            <div class="veiculos">

              <table>
                <thead>
                  <tr class="titulos">
                    <th scope="col">#</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Combustível</th>
                    <th scope="col">Câmbio</th>
                    <th scope="col">PCD</th>
                  </tr>
                </thead>
                <tbody>

                  <% for (veiculo of veiculos) { %>
                    <tr>
                      <th class="id">
                        <%= veiculo.id %>
                      </th>
                      <td>
                        <%= veiculo.marca %>
                      </td>
                      <td>
                        <%= veiculo.modelo %>
                      </td>
                      <td>
                        <%= veiculo.ano %>
                      </td>
                      <td>
                        <%= veiculo.cor %>
                      </td>
                      <td>
                        <%= veiculo.categoria %>
                      </td>
                      <td>
                        <%= veiculo.combustivel %>
                      </td>
                      <td>
                        <%= veiculo.cambio %>
                      </td>
                      <td>
                        <%= veiculo.pcd %>
                      </td>
                      <td>

                        <div class="veiculo-icons">
                          <form action="/veiculos/delete" method="post">
                            <input type="hidden" name="id" value="<%= veiculo.id %>">
                            <button class="icon" type="submit"><img src="images/x-circle 1.svg" alt=""></button>
                          </form>
                          <a class="icon" href="/veiculos/cadastro?id=<%= veiculo.id %>"><img src="images/edit.svg" alt=""></a>
                        </div>

                      </td>
                    </tr>
                    <% } %>

                </tbody>
              </table>
            </div>

  </div>



</body>

</html>